*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
.container{
    background:linear-gradient(45deg, blueviolet, lightgreen);
    /* background: linear-gradient(blue,white,green); */
    padding:15px  9%;
    padding-bottom:100px;
}
.container h1{
    text-align: center;
    padding-bottom: 15px;
    color:white;
    text-shadow: 0 5px 10px rgb(0,0,0,.2);
    font-size: 50px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap:15px;
}
.container .box-container .box img{
    height:80px;
}
